.home_container {
    height: 93.5vh;
    /* background-image: -moz-linear-gradient( 90deg, #f3ad2b 0%, #f0be61 100%);
    background-image: -webkit-linear-gradient( 90deg, #f3ad2b 0%, #f0be61 100%);
    background-image: -ms-linear-gradient( 90deg, #f3ad2b 0%, #f0be61 100%); */
    background-image: url(../img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    font-family: 'Maven Pro', sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_container h1 {
    font-size: 4em;
}
.home_container p {
    margin: 15px 0 30px 0;
    color: #ffffff;
    font-family: 'Maven Pro', sans-serif;
    font-size: 2.7em;
}

.button_start {
    padding: 8px 20px;
    background-color: #f69a73;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    transition: .5s ease;
    text-decoration: none !important;
}

.button_start:hover {
    background-color: #d18f14;
}

.button_start:hover {
    transition: .5s ease;
    color: #ffffff
}
